.rodents {
    width: 80%;
    height: 80%;
}

.card {
    width: 50%;
    cursor: pointer;
    transition: .3s ease;
    background-repeat: no-repeat;
    background-position: 25% 25%;
    background-size: cover;
    size: 100px;
}